<h1>集計結果、掲示板</h1>

<%= @shared_event.uuid %>

<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @shared_event.title %></h5>
    
  </div>
</div>

