// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.home-title {
  color: #364e96;
  border: solid 3px #364e96;
  padding: 0.5em;
  border-radius: 0.5em;
  font-weight: bold;
  margin-left: 200px;
  margin-right: 200px;
}

.home__list {
   list-style: none;
   margin: 0;
   display: flex;
}

.home__list-item {
   margin-left: 15px;
   font-size: 14px;
}

.home__navigation {
   margin-left: auto;
}